div.form{
	height: 135px;
}
.customform{
	border-bottom: 1px solid blue;
}

.logged {
	 border-bottom: 1px solid red;
    border-top: 1px solid red;
}
div.page{
	margin-left:10%;
	margin-right: 10%;
	background-color :#FFFFFF ;
}
.background{
	background-color :#DCDBDB;
	width: 100%;
}
form.log{
	margin-bottom: 0px;
    padding-bottom: 10px;
}
.itemcenter{
	text-align:center;
}
.actionname{
	text-align:center;
	font-size: 20px;
}
div.title {
	text-align:center;
	font-size: 50px;
}
div.subtitle {
	text-align:center;
	font-size: 25px;
}
p.title{
	text-align:center;
}
div.listitem {
	 height: 0px;
	 min-height: 105px;
	 min-width: 270px;
	 border-bottom:1px solid blue;
}
//div.listitem:hover{
//	background-color:#EEECEC;
//}
div.taskitem {
	 height: 0px;
	 border-bottom:1px solid blue;
	 min-height: 105px;
	 min-width: 270px;

}

div.taskimgsedit {
	 border-bottom:1px solid blue;
	 min-height: 105px;
	 min-width: 270px;

}

div.edittaskitem {
	 height: 51%;
	 border-bottom:1px solid blue;

}
div.tasktitle {
	padding-top: 5px;
	text-align:center;
	font-size: 20px;
}
div.taskdescrip {
	text-align:center;
	margin-top:5px;
	font-size: 15px;
	color:grey;
}
div.confirmedittask {
	text-align:center;
	padding-top:5px;
	background-color: white;
}
div.confirmeditlist {
	text-align:center;
	margin-top:5px;
}
div.taskimgs {
	text-align:center;
	margin-top:5px;
}
div.listtitle {
	padding-top: 5px;
	text-align:center;
	font-size: 35px;
}
div.listdescrip {
	text-align:center;
	margin-top:5px;
	font-size: 20px;
	color:grey;
}
div.taskoption, div.listoption{
	float:left;
	height: 100%;
	width: 15%;
	min-width: 92px;
	border-bottom:1px solid blue;
    border-right:1px solid red;

}

div.taskoptionedit {
	width: 15%;
	min-width: 92px;
	/*border-bottom:1px solid blue;*/
    border-right:1px solid red;

}

div.taskimgsedit {
	display:flex;
}

div.edittaskoption{
    border-right: 1px solid red;
    float: left;
    height: 100%;
    width: 15%;

}

.option {
	margin-top: 10px;
	margin-left:10px;
	height:32px;
	width:32px;
	cursor:pointer;
}
.minioption {
	margin-top: 10px;
	margin-left:10px;
	height:16px;
	width:16px;
	cursor:pointer;
}
.done {
	color :#E2FFDA;
}
.cancel {
	color :#FFDADA;
}
.wait {
	color :#FFFFDA;
}

.doneitem {
	background-color :#E2FFDA;
}
.cancelitem {
	background-color :#FFDADA;
}
.waititem {
	background-color :#FFFFDA;
}
.eraseitem {
	background-color :#DADDFF;
}
.notaskitem {
	background-color:#EEECEC;
}
div.fullscreen{
	width: 100%;
	height:100%;
}
.editbuttonform{
	height:32px;
	width:32px;
	margin-top:-17px;
	margin-left:25px;
}
.editimgcontainer{
	border-bottom:1px solid blue;
	height: 90%;
}

.newitem {
	background-color:#FFFFDA;
}
.taskinfo {
    height: 100%;
	border-bottom:1px solid blue;
}
.editimgdiv{
	text-align:center;
	background-color: white;
}
div.errormsg {
	background-color:#FFDEDE;
	padding-left:25px;
	padding-right:25px;
	color:#FF0000;
}
div.succesmsg {
	background-color:#E0FFDE;
	padding-left:25px;
	padding-right:25px;
	color:#0FDC00;
}
div.header {
	background-color:white;
}
div.footer{
	background-color:white;
	height:100px;
}
div.disable {
	color :#DCDBDB;
}
div.planning {
    float: right;
    width: 84%;
}
input.column {
	display:table;
	margin-bottom:5px;
}
div.imgpreview {
	margin-bottom:5px;
}
div.shift {
	padding-left:10px;
}
.infocontainer {

}
.infoicon {
	display:inline-flex;
	margin-right:10px;
}
.infodata {
	display:inline-flex;
}
.listinfos {

}
.configoption{
    border-bottom: 1px solid blue;
    border-right: 1px solid red;
    float: left;
    height: 100%;
    width: 15%;
}
.config {
	width: 84%;
	float:right;
}
.eraseoption {
	background-color:#ffffff;
	position:absolute;
	opacity: 0.4;
    filter: alpha(opacity=40)
}
.eraseoption:hover {
	opacity: 1.0;
    filter: alpha(opacity=100)
}

.installformelem {
	display: flex;
	 flex-direction: row;
	 justify-content: space-around;
	 align-items: center;
	 margin-bottom:10px;
}

.installformelem > * {
	width:50%;
}

.installform {
width:500px;
margin:0 auto;
padding-top:50px;
}

.installblock {
	padding-top: 30px;
margin-bottom: 20px;
}
